In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-16 21:10:32.583403: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 100)               800

 dense_8 (Dense)             (None, 100)               10100

 dense_9 (Dense)             (None, 100)               10100

 dense_10 (Dense)            (None, 1)                 101

=================================================================
Total params: 21,101
Trainable params: 21,101
Non-trainable params: 0
_________________________________________________________________

In [19]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 0.6721 - accuracy: 0.5413
Epoch 2/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5808 - accuracy: 0.6707
Epoch 3/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5857 - accuracy: 0.6307
Epoch 4/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5525 - accuracy: 0.6347
Epoch 5/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5457 - accuracy: 0.6240
Epoch 6/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5344 - accuracy: 0.6400
Epoch 7/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5271 - accuracy: 0.6520
Epoch 8/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5229 - accuracy: 0.6160
Epoch 9/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5167 - accuracy: 0.6547
Epoch 10/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5133 - accuracy: 0.6467
Epoch 11/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5174 - accuracy: 0.6533
Epoch 12/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5112 - accuracy: 0.6360
Epoch 13/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5085 - accuracy: 0.6547
Epoch 14/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5089 - accuracy: 0.6547
Epoch 15/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5078 - accuracy: 0.6400
Epoch 16/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5070 - accuracy: 0.6547
Epoch 17/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5069 - accuracy: 0.6547
Epoch 18/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5060 - accuracy: 0.6320
Epoch 19/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5049 - accuracy: 0.6547
Epoch 20/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5059 - accuracy: 0.6600
Epoch 21/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5090 - accuracy: 0.6213
Epoch 22/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5047 - accuracy: 0.6667
Epoch 23/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5038 - accuracy: 0.6427
Epoch 24/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5076 - accuracy: 0.6280
Epoch 25/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5097 - accuracy: 0.6827
Epoch 26/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5109 - accuracy: 0.6293
Epoch 27/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5039 - accuracy: 0.6720
Epoch 28/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5100 - accuracy: 0.6360
Epoch 29/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5042 - accuracy: 0.6547
Epoch 30/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5036 - accuracy: 0.6547
Epoch 31/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5166 - accuracy: 0.6453
Epoch 32/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5270 - accuracy: 0.6533
Epoch 33/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5042 - accuracy: 0.6787
Epoch 34/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5046 - accuracy: 0.6333
Epoch 35/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5026 - accuracy: 0.6573
Epoch 36/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5012 - accuracy: 0.6440
Epoch 37/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5004 - accuracy: 0.6507
Epoch 38/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5008 - accuracy: 0.6800
Epoch 39/100
24/24 [==============================] - 0s 3ms/step - loss: 0.4956 - accuracy: 0.6760
Epoch 40/100
24/24 [==============================] - 0s 3ms/step - loss: 0.4904 - accuracy: 0.6600
Epoch 41/100
24/24 [==============================] - 0s 3ms/step - loss: 0.4915 - accuracy: 0.6587
Epoch 42/100
24/24 [==============================] - 0s 4ms/step - loss: 0.4820 - accuracy: 0.6613
Epoch 43/100
24/24 [==============================] - 0s 4ms/step - loss: 0.4821 - accuracy: 0.6747
Epoch 44/100
24/24 [==============================] - 0s 4ms/step - loss: 0.4901 - accuracy: 0.6680
Epoch 45/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5037 - accuracy: 0.6427
Epoch 46/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5041 - accuracy: 0.6533
Epoch 47/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5042 - accuracy: 0.6547
Epoch 48/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5056 - accuracy: 0.6187
Epoch 49/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5044 - accuracy: 0.6547
Epoch 50/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5038 - accuracy: 0.6547
Epoch 51/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5040 - accuracy: 0.6547
Epoch 52/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5049 - accuracy: 0.6547
Epoch 53/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5060 - accuracy: 0.6213
Epoch 54/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5046 - accuracy: 0.6547
Epoch 55/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5059 - accuracy: 0.6307
Epoch 56/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5051 - accuracy: 0.6547
Epoch 57/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5049 - accuracy: 0.6360
Epoch 58/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5058 - accuracy: 0.6253
Epoch 59/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.6547
Epoch 60/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5076 - accuracy: 0.6200
Epoch 61/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5043 - accuracy: 0.6360
Epoch 62/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5034 - accuracy: 0.6547
Epoch 63/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5040 - accuracy: 0.6547
Epoch 64/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5052 - accuracy: 0.6547
Epoch 65/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5039 - accuracy: 0.6547
Epoch 66/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5042 - accuracy: 0.6547
Epoch 67/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5040 - accuracy: 0.6253
Epoch 68/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5065 - accuracy: 0.6547
Epoch 69/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5038 - accuracy: 0.6547
Epoch 70/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5039 - accuracy: 0.6547
Epoch 71/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5035 - accuracy: 0.6547
Epoch 72/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5034 - accuracy: 0.6547
Epoch 73/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5040 - accuracy: 0.6240
Epoch 74/100
24/24 [==============================] - 0s 5ms/step - loss: 0.5054 - accuracy: 0.6307
Epoch 75/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5041 - accuracy: 0.6547
Epoch 76/100
24/24 [==============================] - 0s 4ms/step - loss: 0.5043 - accuracy: 0.6547
Epoch 77/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5054 - accuracy: 0.6480
Epoch 78/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5058 - accuracy: 0.6213
Epoch 79/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5045 - accuracy: 0.6373
Epoch 80/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5044 - accuracy: 0.6547
Epoch 81/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5043 - accuracy: 0.6293
Epoch 82/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5067 - accuracy: 0.6547
Epoch 83/100

24/24 [==============================] - 0s 3ms/step - loss: 0.5051 - accuracy: 0.6467
Epoch 84/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5056 - accuracy: 0.6333
Epoch 85/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5036 - accuracy: 0.6547
Epoch 86/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5050 - accuracy: 0.6267
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5075 - accuracy: 0.6253
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5031 - accuracy: 0.6533
Epoch 89/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5034 - accuracy: 0.6547
Epoch 90/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5059 - accuracy: 0.6373
Epoch 91/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5061 - accuracy: 0.6400
Epoch 92/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5037 - accuracy: 0.6427
Epoch 93/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5057 - accuracy: 0.6280
Epoch 94/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5049 - accuracy: 0.6547
Epoch 95/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5050 - accuracy: 0.6387
Epoch 96/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5050 - accuracy: 0.6267
Epoch 97/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5045 - accuracy: 0.6547
Epoch 98/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5041 - accuracy: 0.6547
Epoch 99/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5034 - accuracy: 0.6547
Epoch 100/100
24/24 [==============================] - 0s 3ms/step - loss: 0.5046 - accuracy: 0.6547