In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

2022-12-03 02:04:49.729201: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Create Database url
database_url = 'postgresql+psycopg2://root:Uwbootcamp123@glassdoor.coqh7lol4x3g.us-east-1.rds.amazonaws.com/glassdoor'

engine=create_engine(database_url)
connection = engine.connect()

In [3]:
with engine.connect() as conn:
    merged_df = pd.read_sql("select * FROM merged_2", conn)

In [4]:
merged_df.head()

,name,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,id,industry,total_employee_estimate
0,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
1,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
2,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
3,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
4,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2

In [5]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
merged_df["good"] = merged_df["overall_rating"].apply(good)

In [6]:
merged_df.head()

,name,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,id,industry,total_employee_estimate,good
0,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
1,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
2,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
3,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
4,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1

In [9]:
# Generate our categorical variable lists
application_cat = merged_df.dtypes[merged_df.dtypes == "object"].index.tolist()

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(merged_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_amey,name_asos,name_bayer,job_title_ Accountant,job_title_ Accounting Invoice Processor,job_title_ Accounts Payable Assistant,job_title_ Agile Delivery Manager,job_title_ Agronomist,job_title_ Analyst,job_title_ Anonymous Employee,...,"location_West Sacramento, CA","location_Whippany, NJ",location_Wuppertal,"location_York, England, England",location_Zagreb,"location_Zürich, Zürich",industry_civil engineering,industry_e-learning,industry_facilities services,industry_pharmaceuticals
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
merged_df.merge(encode_df,left_index=True,right_index=True)
merged_df = merged_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
y = merged_df.good.values
X = merged_df.drop(columns=['good']).values

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               900

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 1)                 101

=================================================================
Total params: 21,201
Trainable params: 21,201
Non-trainable params: 0
_________________________________________________________________

2022-12-03 02:13:02.958803: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
6224/6224 [==============================] - 10s 2ms/step - loss: 5.1990 - accuracy: 0.8801
Epoch 2/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2976 - accuracy: 0.9130
Epoch 3/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 4/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2236 - accuracy: 0.9139
Epoch 5/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2306 - accuracy: 0.9138
Epoch 6/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 7/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.3345 - accuracy: 0.9138
Epoch 8/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2926 - accuracy: 0.9135
Epoch 9/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 10/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 11/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2257 - accuracy: 0.9137
Epoch 12/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 13/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 14/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 15/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 16/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 17/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 18/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 19/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 20/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 21/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 22/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 23/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 24/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 25/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 26/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 27/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 28/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 29/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 30/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 31/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 32/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 33/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 34/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 35/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 36/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 37/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 38/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 39/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 40/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 41/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 42/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 43/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 44/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 45/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 46/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 47/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 48/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 49/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 50/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 51/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 52/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 53/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 54/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 55/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 56/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 57/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 58/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 59/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 60/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 61/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 62/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 63/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 64/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 65/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 66/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 67/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 68/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 69/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 70/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 71/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 72/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 73/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 74/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 75/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 76/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 77/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 78/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 79/100

6224/6224 [==============================] - 9s 1ms/step - loss: 0.2235 - accuracy: 0.9139
Epoch 80/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 81/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 82/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 83/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 84/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 85/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 86/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 87/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 88/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 89/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 90/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 91/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 92/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 93/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 94/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 95/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 96/100
6224/6224 [==============================] - 10s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 97/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 98/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 99/100
6224/6224 [==============================] - 9s 2ms/step - loss: 0.2234 - accuracy: 0.9139
Epoch 100/100
6224/6224 [==============================] - 9s 1ms/step - loss: 0.2234 - accuracy: 0.9139

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2075/2075 - 2s - loss: 0.7130 - accuracy: 0.8033 - 2s/epoch - 963us/step
Loss: 0.7130390405654907, Accuracy: 0.8032957315444946

In [20]:
# export
nn.save("merged_2.h")

INFO:tensorflow:Assets written to: merged_2.h/assets