In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
reviews_df = pd.read_csv("glassdoor_reviews.csv")
reviews_df.head()

In [ ]:
# Create a reviews dataframe that includes chosen columns (dropping columns that are not necessary)
reviews_df = reviews_df[['firm', 'job_title', 'location', 'overall_rating', 'work_life_balance', 'culture_values', 'diversity_inclusion', 
'career_opp', 'comp_benefits']]

In [ ]:
# Check Data
reviews_df.head()

In [ ]:
# Drop na columns from the reviews_df
reviews_df_clean = reviews_df.dropna()
reviews_df_clean.count()

In [ ]:
# Convert all firms to lowercase string
reviews_df_clean["firm"].str.lower()

In [ ]:
# Create a new column called name that will replace firm (this is to match our companies dataset)
reviews_df_clean["name"] = reviews_df_clean["firm"].str.lower()

In [ ]:
# Create a new dataframe that excludes "firm"
reviews_df_clean = reviews_df_clean[['name', 'job_title', 'location', 'overall_rating', 'work_life_balance', 'culture_values', 'diversity_inclusion', 
'career_opp', 'comp_benefits']]

In [ ]:
# Check Data
reviews_df_clean.head()

In [ ]:
# Create companies dataframe from csv
companies_df = pd.read_csv("companies_sorted.csv")
companies_df.head()

In [ ]:
# Have companies dataframe use the chosen columns (dropping columns that are not necessary)
companies_df = companies_df[['name', 'industry', 'total employee estimate']]
companies_df.head(10)

In [ ]:
# Drop na columns from the companies_df
companies_df_clean = companies_df.dropna()
companies_df_clean.count()

In [ ]:
# Merge our dataframes on name
df_merge = pd.merge(reviews_df_clean, companies_df_clean, on="name", how="inner")

In [ ]:
# Check data
df_merge

In [ ]:
# Check data
df_merge.count()

In [ ]:
# Remove na / check data
df_merge.dropna()

In [ ]:
# Check data
df_merge.count()

In [ ]:
# Check data
df_merge.head(1000)

In [ ]:
# Create a new ID column that gives each unique name an ID
df_merge['id'] = df_merge.groupby(['name']).ngroup()

In [ ]:
# Check data
df_merge['id'].nunique()

In [ ]:
# Create new dataframe
reviews_sql_df = df_merge[['name', 'job_title', 'location', 'overall_rating', 'work_life_balance', 'culture_values', 'diversity_inclusion', 
'career_opp', 'comp_benefits', 'id']]
reviews_sql_df.head()

In [ ]:
# Check Data
reviews_sql_df.count()

In [ ]:
# Create new dataframe
companies_sql_df = df_merge[['name', 'industry', 'total employee estimate', 'id']]
companies_sql_df.count()

In [ ]:
# Export Dataframes as CSVs
# reviews_sql_df.to_csv("reviews2sqlID.csv")
# companies_sql_df.to_csv("companies2sqlID.csv")