In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-28 09:22:07.612696: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               800

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 1)                 101

=================================================================
Total params: 21,101
Trainable params: 21,101
Non-trainable params: 0
_________________________________________________________________

2022-11-28 09:22:11.600468: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 70.7294 - accuracy: 0.5373
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 47.8444 - accuracy: 0.5027
Epoch 3/100
24/24 [==============================] - 0s 2ms/step - loss: 44.1790 - accuracy: 0.5480
Epoch 4/100
24/24 [==============================] - 0s 2ms/step - loss: 53.6829 - accuracy: 0.5920
Epoch 5/100
24/24 [==============================] - 0s 2ms/step - loss: 47.6439 - accuracy: 0.6040
Epoch 6/100
24/24 [==============================] - 0s 2ms/step - loss: 56.2683 - accuracy: 0.6053
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 24.3589 - accuracy: 0.6373
Epoch 8/100
24/24 [==============================] - 0s 2ms/step - loss: 28.9252 - accuracy: 0.6400
Epoch 9/100
24/24 [==============================] - 0s 2ms/step - loss: 20.5068 - accuracy: 0.6680
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 13.1799 - accuracy: 0.6787
Epoch 11/100
24/24 [==============================] - 0s 2ms/step - loss: 18.4991 - accuracy: 0.6587
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 11.3555 - accuracy: 0.6587
Epoch 13/100
24/24 [==============================] - 0s 2ms/step - loss: 30.6208 - accuracy: 0.6707
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 15.4010 - accuracy: 0.6840
Epoch 15/100
24/24 [==============================] - 0s 2ms/step - loss: 12.1932 - accuracy: 0.7080
Epoch 16/100
24/24 [==============================] - 0s 2ms/step - loss: 14.9742 - accuracy: 0.6787
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 18.3107 - accuracy: 0.6853
Epoch 18/100
24/24 [==============================] - 0s 2ms/step - loss: 8.5746 - accuracy: 0.6693
Epoch 19/100
24/24 [==============================] - 0s 2ms/step - loss: 7.7837 - accuracy: 0.6733
Epoch 20/100
24/24 [==============================] - 0s 2ms/step - loss: 9.7068 - accuracy: 0.6920
Epoch 21/100
24/24 [==============================] - 0s 2ms/step - loss: 12.4215 - accuracy: 0.6773
Epoch 22/100
24/24 [==============================] - 0s 2ms/step - loss: 10.9481 - accuracy: 0.7067
Epoch 23/100
24/24 [==============================] - 0s 2ms/step - loss: 20.0357 - accuracy: 0.6867
Epoch 24/100
24/24 [==============================] - 0s 2ms/step - loss: 28.0684 - accuracy: 0.6653
Epoch 25/100
24/24 [==============================] - 0s 2ms/step - loss: 11.6291 - accuracy: 0.6627
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 12.6249 - accuracy: 0.6800
Epoch 27/100
24/24 [==============================] - 0s 2ms/step - loss: 12.7697 - accuracy: 0.7107
Epoch 28/100
24/24 [==============================] - 0s 2ms/step - loss: 5.4697 - accuracy: 0.6680
Epoch 29/100
24/24 [==============================] - 0s 1ms/step - loss: 17.2180 - accuracy: 0.6627
Epoch 30/100
24/24 [==============================] - 0s 2ms/step - loss: 15.2017 - accuracy: 0.7053
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 8.8378 - accuracy: 0.6773
Epoch 32/100
24/24 [==============================] - 0s 2ms/step - loss: 11.9660 - accuracy: 0.6880
Epoch 33/100
24/24 [==============================] - 0s 2ms/step - loss: 10.0080 - accuracy: 0.7147
Epoch 34/100
24/24 [==============================] - 0s 2ms/step - loss: 15.8199 - accuracy: 0.6733
Epoch 35/100
24/24 [==============================] - 0s 1ms/step - loss: 13.2747 - accuracy: 0.7053
Epoch 36/100
24/24 [==============================] - 0s 2ms/step - loss: 9.6848 - accuracy: 0.6867
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 10.7142 - accuracy: 0.6840
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 7.2935 - accuracy: 0.7133
Epoch 39/100
24/24 [==============================] - 0s 2ms/step - loss: 7.5707 - accuracy: 0.6573
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 8.4532 - accuracy: 0.6720
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 6.9335 - accuracy: 0.6773
Epoch 42/100
24/24 [==============================] - 0s 2ms/step - loss: 10.1110 - accuracy: 0.6813
Epoch 43/100
24/24 [==============================] - 0s 2ms/step - loss: 3.6783 - accuracy: 0.6867
Epoch 44/100
24/24 [==============================] - 0s 1ms/step - loss: 3.7607 - accuracy: 0.6853
Epoch 45/100
24/24 [==============================] - 0s 2ms/step - loss: 6.6748 - accuracy: 0.6880
Epoch 46/100
24/24 [==============================] - 0s 2ms/step - loss: 5.1958 - accuracy: 0.6947
Epoch 47/100
24/24 [==============================] - 0s 2ms/step - loss: 4.7052 - accuracy: 0.7067
Epoch 48/100
24/24 [==============================] - 0s 2ms/step - loss: 1.6754 - accuracy: 0.7160
Epoch 49/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5905 - accuracy: 0.6853
Epoch 50/100
24/24 [==============================] - 0s 2ms/step - loss: 8.8303 - accuracy: 0.6840
Epoch 51/100
24/24 [==============================] - 0s 2ms/step - loss: 5.9532 - accuracy: 0.6987
Epoch 52/100
24/24 [==============================] - 0s 2ms/step - loss: 3.7810 - accuracy: 0.7013
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 4.3928 - accuracy: 0.7013
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 6.3599 - accuracy: 0.6733
Epoch 55/100
24/24 [==============================] - 0s 2ms/step - loss: 3.3146 - accuracy: 0.7027
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 5.6213 - accuracy: 0.6907
Epoch 57/100
24/24 [==============================] - 0s 2ms/step - loss: 3.7309 - accuracy: 0.7000
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 8.9399 - accuracy: 0.6773
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 3.4854 - accuracy: 0.6893
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 5.6761 - accuracy: 0.6773
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0171 - accuracy: 0.6907
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 1.7725 - accuracy: 0.7093
Epoch 63/100
24/24 [==============================] - 0s 2ms/step - loss: 4.2691 - accuracy: 0.7187
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8550 - accuracy: 0.7080
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 2.6799 - accuracy: 0.6880
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8991 - accuracy: 0.7133
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8173 - accuracy: 0.7027
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 3.4623 - accuracy: 0.7080
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 2.6754 - accuracy: 0.7347
Epoch 70/100
24/24 [==============================] - 0s 2ms/step - loss: 3.5803 - accuracy: 0.6813
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 8.3144 - accuracy: 0.6867
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2006 - accuracy: 0.7173
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2386 - accuracy: 0.7267
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 1.5805 - accuracy: 0.7213
Epoch 75/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4235 - accuracy: 0.7240
Epoch 76/100
24/24 [==============================] - 0s 2ms/step - loss: 3.9241 - accuracy: 0.7000
Epoch 77/100
24/24 [==============================] - 0s 2ms/step - loss: 3.6991 - accuracy: 0.7187
Epoch 78/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2341 - accuracy: 0.7413
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8346 - accuracy: 0.7400
Epoch 80/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2132 - accuracy: 0.7360
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1989 - accuracy: 0.7507
Epoch 82/100

24/24 [==============================] - 0s 2ms/step - loss: 0.8178 - accuracy: 0.7467
Epoch 83/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2592 - accuracy: 0.7400
Epoch 84/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8316 - accuracy: 0.7440
Epoch 85/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3921 - accuracy: 0.7080
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2763 - accuracy: 0.7413
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 4.1528 - accuracy: 0.7360
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 2.5986 - accuracy: 0.7360
Epoch 89/100
24/24 [==============================] - 0s 2ms/step - loss: 2.4767 - accuracy: 0.7507
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3881 - accuracy: 0.7533
Epoch 91/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3084 - accuracy: 0.7400
Epoch 92/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4784 - accuracy: 0.7707
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 1.5535 - accuracy: 0.7653
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1497 - accuracy: 0.7853
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 1.5577 - accuracy: 0.7627
Epoch 96/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0133 - accuracy: 0.7653
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3969 - accuracy: 0.7560
Epoch 98/100
24/24 [==============================] - 0s 2ms/step - loss: 1.7460 - accuracy: 0.7547
Epoch 99/100
24/24 [==============================] - 0s 2ms/step - loss: 5.4894 - accuracy: 0.7373
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2095 - accuracy: 0.7547

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 3.5439 - accuracy: 0.4280 - 181ms/epoch - 23ms/step
Loss: 3.5439116954803467, Accuracy: 0.42800000309944153

In [16]:
# export
nn.save("AlphabetSoupCharity.h5")