In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData, Table

In [2]:
#pip install psycopg2-binary

In [4]:
# Create engine from pgadmin database
engine = create_engine("postgresql+psycopg2://{user}:{pass}@glassdoor.coqh7lol4x3g.us-east-1.rds.amazonaws.com:5432/glassdoor")
connection = engine.connect()

In [5]:
with engine.connect() as conn:
    merged = pd.read_sql("select * FROM merged_2", conn)

In [6]:
merged.head()

,name,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,id,industry,total_employee_estimate
0,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
1,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
2,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
3,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2
4,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2

In [7]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
merged["good"] = merged["overall_rating"].apply(good)

In [8]:
merged.head()

,name,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,id,industry,total_employee_estimate,good
0,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
1,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
2,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
3,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1
4,asos,Test Analyst,"London, England, England",5,5,4,5,4,1,13,e-learning,2,1

In [9]:
# Generate our categorical variable lists
application_cat = merged.dtypes[merged.dtypes == "object"].index.tolist()

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(merged[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\Znoah\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_amey,name_asos,name_bayer,job_title_ Accountant,job_title_ Accounting Invoice Processor,job_title_ Accounts Payable Assistant,job_title_ Agile Delivery Manager,job_title_ Agronomist,job_title_ Analyst,job_title_ Anonymous Employee,...,"location_West Sacramento, CA","location_Whippany, NJ",location_Wuppertal,"location_York, England, England",location_Zagreb,"location_Zürich, Zürich",industry_civil engineering,industry_e-learning,industry_facilities services,industry_pharmaceuticals
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [55]:
# Merge one-hot encoded features and drop the originals
merged.merge(encode_df,left_index=True,right_index=True)
merged = merged.drop(application_cat,1)

C:\Users\Znoah\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: "['name' 'job_title' 'location' 'industry'] not found in axis"

In [56]:
y = merged.good.values
X = merged.drop(columns=['good', 'overall_rating', 'id']).values

In [57]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [58]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [59]:
from sklearn.ensemble import RandomForestClassifier as rfc

In [60]:
model = rfc()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

In [43]:
from sklearn.metrics import classification_report

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 100)               800

 dense_5 (Dense)             (None, 100)               10100

 dense_6 (Dense)             (None, 100)               10100

 dense_7 (Dense)             (None, 1)                 101

=================================================================
Total params: 21,101
Trainable params: 21,101
Non-trainable params: 0
_________________________________________________________________

In [45]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [46]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [54]:
fit_model = nn.fit(X_train, y_train, epochs=5)

Epoch 1/5
6224/6224 [==============================] - 7s 1ms/step - loss: 0.2562 - accuracy: 0.9017
Epoch 2/5
6224/6224 [==============================] - 7s 1ms/step - loss: 0.2530 - accuracy: 0.9024
Epoch 3/5
6224/6224 [==============================] - 6s 1ms/step - loss: 0.2489 - accuracy: 0.9026
Epoch 4/5
6224/6224 [==============================] - 6s 1ms/step - loss: 0.2483 - accuracy: 0.9034
Epoch 5/5
6224/6224 [==============================] - 6s 1ms/step - loss: 0.2501 - accuracy: 0.9030

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2075/2075 - 1s - loss: 0.9598 - accuracy: 0.6456 - 1s/epoch - 637us/step
Loss: 0.9598082900047302, Accuracy: 0.6456491351127625

In [49]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.92      0.96     14009
           1       0.98      1.00      0.99     52380

    accuracy                           0.98     66389
   macro avg       0.99      0.96      0.97     66389
weighted avg       0.98      0.98      0.98     66389

In [61]:
y_pred_scaled = model.predict(X_train_scaled)

In [62]:
print(classification_report(y_train, y_pred_scaled))

              precision    recall  f1-score   support

           0       0.99      0.93      0.96     41920
           1       0.98      1.00      0.99    157245

    accuracy                           0.98    199165
   macro avg       0.99      0.96      0.97    199165
weighted avg       0.98      0.98      0.98    199165

In [63]:
data = list(zip(merged.drop(columns=['good', 'overall_rating', 'id']).columns, model.feature_importances_))
new_df = pd.DataFrame(data, columns =['Feature', 'Importance'])

In [64]:
new_df.sort_values(by="Importance", ascending=False)

                   Feature  Importance
1           culture_values    0.350904
3               career_opp    0.236890
0        work_life_balance    0.151648
2      diversity_inclusion    0.119945
4            comp_benefits    0.110198
5  total_employee_estimate    0.030416

In [77]:
new_df.to_csv("Feature_importance.csv")