In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-28 09:23:44.270470: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 200
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 40
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               1600

 dense_1 (Dense)             (None, 50)                10050

 dense_2 (Dense)             (None, 40)                2040

 dense_3 (Dense)             (None, 1)                 41

=================================================================
Total params: 13,731
Trainable params: 13,731
Non-trainable params: 0
_________________________________________________________________

2022-11-28 09:23:48.179212: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 47.2836 - accuracy: 0.5307
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 19.2439 - accuracy: 0.5440
Epoch 3/100
24/24 [==============================] - 0s 2ms/step - loss: 24.6866 - accuracy: 0.5707
Epoch 4/100
24/24 [==============================] - 0s 2ms/step - loss: 7.4361 - accuracy: 0.6080
Epoch 5/100
24/24 [==============================] - 0s 2ms/step - loss: 5.1990 - accuracy: 0.6360
Epoch 6/100
24/24 [==============================] - 0s 1ms/step - loss: 4.1987 - accuracy: 0.6453
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 24.0821 - accuracy: 0.6213
Epoch 8/100
24/24 [==============================] - 0s 2ms/step - loss: 12.1300 - accuracy: 0.6680
Epoch 9/100
24/24 [==============================] - 0s 1ms/step - loss: 9.5052 - accuracy: 0.6387
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 7.1598 - accuracy: 0.6507
Epoch 11/100
24/24 [==============================] - 0s 1ms/step - loss: 11.0514 - accuracy: 0.6533
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 6.4840 - accuracy: 0.6600
Epoch 13/100
24/24 [==============================] - 0s 2ms/step - loss: 4.4524 - accuracy: 0.6387
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 11.0496 - accuracy: 0.6507
Epoch 15/100
24/24 [==============================] - 0s 2ms/step - loss: 5.8536 - accuracy: 0.6827
Epoch 16/100
24/24 [==============================] - 0s 1ms/step - loss: 13.2560 - accuracy: 0.6587
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 12.2244 - accuracy: 0.6693
Epoch 18/100
24/24 [==============================] - 0s 2ms/step - loss: 10.2052 - accuracy: 0.6520
Epoch 19/100
24/24 [==============================] - 0s 1ms/step - loss: 6.8961 - accuracy: 0.6707
Epoch 20/100
24/24 [==============================] - 0s 2ms/step - loss: 6.4007 - accuracy: 0.6520
Epoch 21/100
24/24 [==============================] - 0s 2ms/step - loss: 8.9899 - accuracy: 0.6533
Epoch 22/100
24/24 [==============================] - 0s 1ms/step - loss: 5.5170 - accuracy: 0.6627
Epoch 23/100
24/24 [==============================] - 0s 2ms/step - loss: 5.6871 - accuracy: 0.6453
Epoch 24/100
24/24 [==============================] - 0s 2ms/step - loss: 5.4665 - accuracy: 0.6600
Epoch 25/100
24/24 [==============================] - 0s 1ms/step - loss: 3.0671 - accuracy: 0.6733
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 3.1452 - accuracy: 0.6840
Epoch 27/100
24/24 [==============================] - 0s 2ms/step - loss: 2.1392 - accuracy: 0.6693
Epoch 28/100
24/24 [==============================] - 0s 1ms/step - loss: 0.9944 - accuracy: 0.7120
Epoch 29/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5331 - accuracy: 0.6747
Epoch 30/100
24/24 [==============================] - 0s 1ms/step - loss: 5.6949 - accuracy: 0.6600
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 2.5403 - accuracy: 0.6587
Epoch 32/100
24/24 [==============================] - 0s 2ms/step - loss: 4.1435 - accuracy: 0.6627
Epoch 33/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8235 - accuracy: 0.6733
Epoch 34/100
24/24 [==============================] - 0s 2ms/step - loss: 1.3154 - accuracy: 0.6867
Epoch 35/100
24/24 [==============================] - 0s 1ms/step - loss: 1.1303 - accuracy: 0.6773
Epoch 36/100
24/24 [==============================] - 0s 1ms/step - loss: 2.9356 - accuracy: 0.6853
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2478 - accuracy: 0.6787
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2170 - accuracy: 0.6973
Epoch 39/100
24/24 [==============================] - 0s 2ms/step - loss: 3.3103 - accuracy: 0.6960
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2021 - accuracy: 0.7107
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2001 - accuracy: 0.6733
Epoch 42/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8899 - accuracy: 0.6773
Epoch 43/100
24/24 [==============================] - 0s 2ms/step - loss: 3.1221 - accuracy: 0.6787
Epoch 44/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6220 - accuracy: 0.7360
Epoch 45/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6826 - accuracy: 0.6720
Epoch 46/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0555 - accuracy: 0.6760
Epoch 47/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4149 - accuracy: 0.7213
Epoch 48/100
24/24 [==============================] - 0s 2ms/step - loss: 1.6794 - accuracy: 0.7160
Epoch 49/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0027 - accuracy: 0.6800
Epoch 50/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1283 - accuracy: 0.7253
Epoch 51/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2925 - accuracy: 0.7213
Epoch 52/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5908 - accuracy: 0.7333
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8943 - accuracy: 0.7187
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0740 - accuracy: 0.7160
Epoch 55/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7099 - accuracy: 0.7453
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5189 - accuracy: 0.7333
Epoch 57/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8036 - accuracy: 0.7467
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 1.5075 - accuracy: 0.7253
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9810 - accuracy: 0.7320
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8537 - accuracy: 0.7333
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0458 - accuracy: 0.7440
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5335 - accuracy: 0.7560
Epoch 63/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5601 - accuracy: 0.7480
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6778 - accuracy: 0.7720
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 1.5271 - accuracy: 0.7360
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8619 - accuracy: 0.7413
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0499 - accuracy: 0.7453
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2663 - accuracy: 0.7427
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5035 - accuracy: 0.7427
Epoch 70/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4143 - accuracy: 0.7947
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3868 - accuracy: 0.7893
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5981 - accuracy: 0.7787
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4453 - accuracy: 0.7800
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5613 - accuracy: 0.7600
Epoch 75/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4291 - accuracy: 0.8027
Epoch 76/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4313 - accuracy: 0.7973
Epoch 77/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6416 - accuracy: 0.7893
Epoch 78/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5090 - accuracy: 0.7653
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4396 - accuracy: 0.7987
Epoch 80/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7988 - accuracy: 0.7533
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6668 - accuracy: 0.7707
Epoch 82/100

24/24 [==============================] - 0s 2ms/step - loss: 0.5527 - accuracy: 0.8027
Epoch 83/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4112 - accuracy: 0.7800
Epoch 84/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8107
Epoch 85/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3932 - accuracy: 0.7840
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3588 - accuracy: 0.7800
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8013
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8040
Epoch 89/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5014 - accuracy: 0.7840
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8067
Epoch 91/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4125 - accuracy: 0.7827
Epoch 92/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.7840
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5560 - accuracy: 0.7520
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3734 - accuracy: 0.8093
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8240
Epoch 96/100
24/24 [==============================] - 0s 1ms/step - loss: 0.3732 - accuracy: 0.8053
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9377 - accuracy: 0.7693
Epoch 98/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4698 - accuracy: 0.7907
Epoch 99/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5737 - accuracy: 0.7720
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.7867

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 3.6195 - accuracy: 0.4120 - 160ms/epoch - 20ms/step
Loss: 3.619488477706909, Accuracy: 0.41200000047683716

In [16]:
# export
nn.save("AlphabetSoupCharityOptimization1.h5")