In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-28 09:26:19.764211: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 250
hidden_nodes_layer2 = 60
hidden_nodes_layer3 = 60
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 250)               2000

 dense_1 (Dense)             (None, 60)                15060

 dense_2 (Dense)             (None, 60)                3660

 dense_3 (Dense)             (None, 1)                 61

=================================================================
Total params: 20,781
Trainable params: 20,781
Non-trainable params: 0
_________________________________________________________________

2022-11-28 09:26:23.654360: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 89.2799 - accuracy: 0.5240
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 54.6978 - accuracy: 0.5600
Epoch 3/100
24/24 [==============================] - 0s 2ms/step - loss: 25.1185 - accuracy: 0.5827
Epoch 4/100
24/24 [==============================] - 0s 2ms/step - loss: 56.1778 - accuracy: 0.5973
Epoch 5/100
24/24 [==============================] - 0s 2ms/step - loss: 48.9430 - accuracy: 0.6440
Epoch 6/100
24/24 [==============================] - 0s 2ms/step - loss: 30.9195 - accuracy: 0.6293
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 16.9313 - accuracy: 0.6760
Epoch 8/100
24/24 [==============================] - 0s 2ms/step - loss: 14.6099 - accuracy: 0.6333
Epoch 9/100
24/24 [==============================] - 0s 2ms/step - loss: 7.9185 - accuracy: 0.6573
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 15.2147 - accuracy: 0.6653
Epoch 11/100
24/24 [==============================] - 0s 2ms/step - loss: 10.5378 - accuracy: 0.6573
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 12.0810 - accuracy: 0.6493
Epoch 13/100
24/24 [==============================] - 0s 2ms/step - loss: 12.8833 - accuracy: 0.6893
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 21.7602 - accuracy: 0.6360
Epoch 15/100
24/24 [==============================] - 0s 1ms/step - loss: 15.1470 - accuracy: 0.6373
Epoch 16/100
24/24 [==============================] - 0s 2ms/step - loss: 35.5981 - accuracy: 0.6600
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 9.7121 - accuracy: 0.6373
Epoch 18/100
24/24 [==============================] - 0s 1ms/step - loss: 7.7730 - accuracy: 0.6560
Epoch 19/100
24/24 [==============================] - 0s 2ms/step - loss: 10.3578 - accuracy: 0.6547
Epoch 20/100
24/24 [==============================] - 0s 2ms/step - loss: 5.1116 - accuracy: 0.6653
Epoch 21/100
24/24 [==============================] - 0s 2ms/step - loss: 10.8953 - accuracy: 0.6760
Epoch 22/100
24/24 [==============================] - 0s 2ms/step - loss: 15.1100 - accuracy: 0.6653
Epoch 23/100
24/24 [==============================] - 0s 2ms/step - loss: 15.6085 - accuracy: 0.6787
Epoch 24/100
24/24 [==============================] - 0s 2ms/step - loss: 4.8227 - accuracy: 0.6827
Epoch 25/100
24/24 [==============================] - 0s 2ms/step - loss: 12.1513 - accuracy: 0.6360
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 13.7528 - accuracy: 0.6587
Epoch 27/100
24/24 [==============================] - 0s 2ms/step - loss: 11.2087 - accuracy: 0.6613
Epoch 28/100
24/24 [==============================] - 0s 2ms/step - loss: 6.9987 - accuracy: 0.6707
Epoch 29/100
24/24 [==============================] - 0s 2ms/step - loss: 3.1875 - accuracy: 0.6773
Epoch 30/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8420 - accuracy: 0.6920
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 5.2104 - accuracy: 0.6853
Epoch 32/100
24/24 [==============================] - 0s 2ms/step - loss: 7.8618 - accuracy: 0.6947
Epoch 33/100
24/24 [==============================] - 0s 1ms/step - loss: 8.3203 - accuracy: 0.6720
Epoch 34/100
24/24 [==============================] - 0s 2ms/step - loss: 6.6532 - accuracy: 0.6893
Epoch 35/100
24/24 [==============================] - 0s 2ms/step - loss: 5.8514 - accuracy: 0.6640
Epoch 36/100
24/24 [==============================] - 0s 2ms/step - loss: 8.0380 - accuracy: 0.6893
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 2.4971 - accuracy: 0.6800
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 3.3585 - accuracy: 0.7213
Epoch 39/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9076 - accuracy: 0.7280
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0853 - accuracy: 0.6973
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0254 - accuracy: 0.7160
Epoch 42/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3445 - accuracy: 0.6960
Epoch 43/100
24/24 [==============================] - 0s 1ms/step - loss: 2.9526 - accuracy: 0.7267
Epoch 44/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1789 - accuracy: 0.7200
Epoch 45/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5962 - accuracy: 0.7133
Epoch 46/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8448 - accuracy: 0.7493
Epoch 47/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4639 - accuracy: 0.7693
Epoch 48/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4727 - accuracy: 0.7600
Epoch 49/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6609 - accuracy: 0.7320
Epoch 50/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5074 - accuracy: 0.7653
Epoch 51/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6982 - accuracy: 0.7573
Epoch 52/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0761 - accuracy: 0.7333
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8643 - accuracy: 0.7333
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4950 - accuracy: 0.7520
Epoch 55/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6417 - accuracy: 0.7453
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7610 - accuracy: 0.7480
Epoch 57/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4352 - accuracy: 0.7400
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4542 - accuracy: 0.7893
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4216 - accuracy: 0.7613
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4695 - accuracy: 0.7613
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8784 - accuracy: 0.7293
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5005 - accuracy: 0.7640
Epoch 63/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.7760
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.7720
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4220 - accuracy: 0.7747
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.7853
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6559 - accuracy: 0.7267
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5252 - accuracy: 0.7653
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4537 - accuracy: 0.7547
Epoch 70/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6925 - accuracy: 0.7413
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.7560
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4434 - accuracy: 0.7613
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5063 - accuracy: 0.7747
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7150 - accuracy: 0.7680
Epoch 75/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.7640
Epoch 76/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3775 - accuracy: 0.7947
Epoch 77/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.7693
Epoch 78/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3918 - accuracy: 0.8053
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4888 - accuracy: 0.7613
Epoch 80/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6852 - accuracy: 0.7467
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6364 - accuracy: 0.7680
Epoch 82/100

24/24 [==============================] - 0s 2ms/step - loss: 0.5475 - accuracy: 0.7627
Epoch 83/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5073 - accuracy: 0.7440
Epoch 84/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.7893
Epoch 85/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3764 - accuracy: 0.8013
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.7947
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4281 - accuracy: 0.7760
Epoch 88/100
24/24 [==============================] - 0s 1ms/step - loss: 0.3478 - accuracy: 0.8133
Epoch 89/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4777 - accuracy: 0.7547
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3763 - accuracy: 0.7947
Epoch 91/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.7693
Epoch 92/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3748 - accuracy: 0.7720
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4987 - accuracy: 0.7653
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4516 - accuracy: 0.7840
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8227
Epoch 96/100
24/24 [==============================] - 0s 1ms/step - loss: 0.3748 - accuracy: 0.7920
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3817 - accuracy: 0.7733
Epoch 98/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8147
Epoch 99/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.7733
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.7933

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 4.6545 - accuracy: 0.4240 - 155ms/epoch - 19ms/step
Loss: 4.654549598693848, Accuracy: 0.42399999499320984

In [16]:
# export
nn.save("AlphabetSoupCharityOptimization3.h5")