In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-28 09:25:46.763675: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 210
hidden_nodes_layer2 = 60
hidden_nodes_layer3 = 50
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 210)               1680

 dense_1 (Dense)             (None, 60)                12660

 dense_2 (Dense)             (None, 50)                3050

 dense_3 (Dense)             (None, 1)                 51

=================================================================
Total params: 17,441
Trainable params: 17,441
Non-trainable params: 0
_________________________________________________________________

2022-11-28 09:25:50.703315: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 39.7382 - accuracy: 0.5267
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 13.6372 - accuracy: 0.5347
Epoch 3/100
24/24 [==============================] - 0s 2ms/step - loss: 7.3433 - accuracy: 0.6027
Epoch 4/100
24/24 [==============================] - 0s 2ms/step - loss: 19.2537 - accuracy: 0.6360
Epoch 5/100
24/24 [==============================] - 0s 2ms/step - loss: 24.9492 - accuracy: 0.6347
Epoch 6/100
24/24 [==============================] - 0s 2ms/step - loss: 19.1019 - accuracy: 0.6827
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 26.7387 - accuracy: 0.6400
Epoch 8/100
24/24 [==============================] - 0s 2ms/step - loss: 29.5469 - accuracy: 0.6560
Epoch 9/100
24/24 [==============================] - 0s 2ms/step - loss: 30.0162 - accuracy: 0.6693
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 19.3852 - accuracy: 0.6533
Epoch 11/100
24/24 [==============================] - 0s 2ms/step - loss: 10.9191 - accuracy: 0.6787
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 18.0432 - accuracy: 0.6667
Epoch 13/100
24/24 [==============================] - 0s 2ms/step - loss: 15.3405 - accuracy: 0.6587
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 8.6996 - accuracy: 0.6800
Epoch 15/100
24/24 [==============================] - 0s 2ms/step - loss: 16.3888 - accuracy: 0.6973
Epoch 16/100
24/24 [==============================] - 0s 2ms/step - loss: 32.6568 - accuracy: 0.6413
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 11.4787 - accuracy: 0.6933
Epoch 18/100
24/24 [==============================] - 0s 2ms/step - loss: 4.7084 - accuracy: 0.6680
Epoch 19/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2153 - accuracy: 0.6360
Epoch 20/100
24/24 [==============================] - 0s 2ms/step - loss: 3.6029 - accuracy: 0.6693
Epoch 21/100
24/24 [==============================] - 0s 2ms/step - loss: 8.6882 - accuracy: 0.6707
Epoch 22/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2353 - accuracy: 0.6787
Epoch 23/100
24/24 [==============================] - 0s 2ms/step - loss: 11.7793 - accuracy: 0.6773
Epoch 24/100
24/24 [==============================] - 0s 2ms/step - loss: 14.9056 - accuracy: 0.6800
Epoch 25/100
24/24 [==============================] - 0s 2ms/step - loss: 12.0549 - accuracy: 0.6453
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2453 - accuracy: 0.6747
Epoch 27/100
24/24 [==============================] - 0s 2ms/step - loss: 8.7855 - accuracy: 0.6627
Epoch 28/100
24/24 [==============================] - 0s 2ms/step - loss: 10.1461 - accuracy: 0.6733
Epoch 29/100
24/24 [==============================] - 0s 2ms/step - loss: 10.5277 - accuracy: 0.6493
Epoch 30/100
24/24 [==============================] - 0s 2ms/step - loss: 5.9055 - accuracy: 0.6733
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5634 - accuracy: 0.6640
Epoch 32/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2969 - accuracy: 0.6707
Epoch 33/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2218 - accuracy: 0.6600
Epoch 34/100
24/24 [==============================] - 0s 1ms/step - loss: 3.5506 - accuracy: 0.6747
Epoch 35/100
24/24 [==============================] - 0s 2ms/step - loss: 11.6289 - accuracy: 0.6707
Epoch 36/100
24/24 [==============================] - 0s 1ms/step - loss: 10.7591 - accuracy: 0.6907
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 4.2691 - accuracy: 0.6680
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 9.7147 - accuracy: 0.6693
Epoch 39/100
24/24 [==============================] - 0s 2ms/step - loss: 8.2578 - accuracy: 0.6653
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 1.9124 - accuracy: 0.6853
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8022 - accuracy: 0.6920
Epoch 42/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8219 - accuracy: 0.6880
Epoch 43/100
24/24 [==============================] - 0s 2ms/step - loss: 3.6369 - accuracy: 0.7067
Epoch 44/100
24/24 [==============================] - 0s 2ms/step - loss: 1.7546 - accuracy: 0.6760
Epoch 45/100
24/24 [==============================] - 0s 2ms/step - loss: 4.1888 - accuracy: 0.6720
Epoch 46/100
24/24 [==============================] - 0s 2ms/step - loss: 4.6695 - accuracy: 0.6813
Epoch 47/100
24/24 [==============================] - 0s 2ms/step - loss: 3.1889 - accuracy: 0.7080
Epoch 48/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8756 - accuracy: 0.6867
Epoch 49/100
24/24 [==============================] - 0s 2ms/step - loss: 2.1555 - accuracy: 0.7213
Epoch 50/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0592 - accuracy: 0.7253
Epoch 51/100
24/24 [==============================] - 0s 1ms/step - loss: 2.4351 - accuracy: 0.7093
Epoch 52/100
24/24 [==============================] - 0s 2ms/step - loss: 3.0052 - accuracy: 0.7093
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 5.7354 - accuracy: 0.6787
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2387 - accuracy: 0.7000
Epoch 55/100
24/24 [==============================] - 0s 2ms/step - loss: 2.9168 - accuracy: 0.7067
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5470 - accuracy: 0.6747
Epoch 57/100
24/24 [==============================] - 0s 2ms/step - loss: 2.6804 - accuracy: 0.7053
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 1.3321 - accuracy: 0.7000
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8581 - accuracy: 0.7160
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4374 - accuracy: 0.7067
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4530 - accuracy: 0.7067
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2909 - accuracy: 0.7173
Epoch 63/100
24/24 [==============================] - 0s 1ms/step - loss: 1.9326 - accuracy: 0.7280
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1805 - accuracy: 0.7493
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8892 - accuracy: 0.7400
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9397 - accuracy: 0.7587
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7118 - accuracy: 0.7613
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 4.0910 - accuracy: 0.7307
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 5.2835 - accuracy: 0.7373
Epoch 70/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8243 - accuracy: 0.7307
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6279 - accuracy: 0.7347
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2077 - accuracy: 0.7600
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4081 - accuracy: 0.7600
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9700 - accuracy: 0.7480
Epoch 75/100
24/24 [==============================] - 0s 1ms/step - loss: 0.5766 - accuracy: 0.7360
Epoch 76/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6061 - accuracy: 0.7560
Epoch 77/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5268 - accuracy: 0.7453
Epoch 78/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5189 - accuracy: 0.7573
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 1.8274 - accuracy: 0.7560
Epoch 80/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6263 - accuracy: 0.7627
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.7573
Epoch 82/100

24/24 [==============================] - 0s 2ms/step - loss: 0.8931 - accuracy: 0.7573
Epoch 83/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7323 - accuracy: 0.7547
Epoch 84/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6981 - accuracy: 0.7627
Epoch 85/100
24/24 [==============================] - 0s 1ms/step - loss: 0.4359 - accuracy: 0.7653
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4465 - accuracy: 0.7507
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4989 - accuracy: 0.7507
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7117 - accuracy: 0.7720
Epoch 89/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5837 - accuracy: 0.7640
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4702 - accuracy: 0.7680
Epoch 91/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4759 - accuracy: 0.7693
Epoch 92/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5685 - accuracy: 0.7373
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.7707
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3954 - accuracy: 0.7600
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4439 - accuracy: 0.7813
Epoch 96/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7273 - accuracy: 0.7573
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0293 - accuracy: 0.7520
Epoch 98/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6182 - accuracy: 0.7587
Epoch 99/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6131 - accuracy: 0.7480
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4466 - accuracy: 0.7720

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 3.4160 - accuracy: 0.4120 - 163ms/epoch - 20ms/step
Loss: 3.4159634113311768, Accuracy: 0.41200000047683716

In [16]:
# export
nn.save("AlphabetSoupCharityOptimization2.h5")