In [1]:
#Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

2022-11-28 10:26:14.031922: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#Read

small_df = pd.read_csv("data_small.csv", index_col=0)

small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268

In [3]:
#Create a new column named "Good"
def good(row):
    if row >= 4:
        return 1
    else:
        return 0
small_df["good"] = small_df["overall_rating"].apply(good)

In [4]:
small_df.head()

,name,job_title,industry,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,total employee estimate,good
1182,aldi,Customer Service Representative,retail,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,268,0
1183,aldi,Customer Service Representative,printing,"Bristol, England, England",3,1.0,2.0,2.0,2.0,1.0,7,0
1184,aldi,Sales Assistant,retail,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,268,1
1185,aldi,Sales Assistant,printing,"York, England, England",4,5.0,4.0,4.0,5.0,4.0,7,1
1186,aldi,Assistant Manager,retail,"Derby, England, England",4,3.0,4.0,5.0,5.0,4.0,268,1

In [5]:
# Convert aldi 'string' to numeric values.

# Generate our categorical variable lists
application_cat = small_df.dtypes[small_df.dtypes == "object"].index.tolist()

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(small_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,name_aldi,name_aqa,name_asda,job_title_ ASDA Colleague,job_title_ ASM,job_title_ Account Manager,job_title_ Administration,job_title_ Administration Assistant,job_title_ Administrative Assistant,job_title_ Administrator,...,"location_Wigan, England, England","location_Winchester, England, England","location_Wirral, England, England","location_Woking, England, England","location_Wolstanton, England, England","location_Wolverhampton, England, England","location_Worthing, South East England, England, England","location_Wrexham, Wales, Wales","location_Yeovil, England, England","location_York, England, England"
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
small_df.merge(encode_df,left_index=True,right_index=True)
small_df = small_df.drop(application_cat,1)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
y = small_df.good.values
X = small_df.drop(columns=['good']).values

In [9]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               800

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 1)                 101

=================================================================
Total params: 21,101
Trainable params: 21,101
Non-trainable params: 0
_________________________________________________________________

2022-11-28 10:26:18.091646: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
#Imports
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# callback 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [13]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
24/24 [==============================] - 1s 2ms/step - loss: 80.7597 - accuracy: 0.5600
Epoch 2/100
24/24 [==============================] - 0s 2ms/step - loss: 39.5907 - accuracy: 0.5840
Epoch 3/100
24/24 [==============================] - 0s 2ms/step - loss: 17.1517 - accuracy: 0.6253
Epoch 4/100
24/24 [==============================] - 0s 1ms/step - loss: 25.0149 - accuracy: 0.6307
Epoch 5/100
24/24 [==============================] - 0s 2ms/step - loss: 39.2340 - accuracy: 0.6413
Epoch 6/100
24/24 [==============================] - 0s 2ms/step - loss: 17.9917 - accuracy: 0.6600
Epoch 7/100
24/24 [==============================] - 0s 2ms/step - loss: 10.4726 - accuracy: 0.6760
Epoch 8/100
24/24 [==============================] - 0s 1ms/step - loss: 16.5808 - accuracy: 0.6520
Epoch 9/100
24/24 [==============================] - 0s 2ms/step - loss: 14.1376 - accuracy: 0.6640
Epoch 10/100
24/24 [==============================] - 0s 2ms/step - loss: 17.8280 - accuracy: 0.6733
Epoch 11/100
24/24 [==============================] - 0s 2ms/step - loss: 10.3298 - accuracy: 0.6533
Epoch 12/100
24/24 [==============================] - 0s 2ms/step - loss: 8.1512 - accuracy: 0.6640
Epoch 13/100
24/24 [==============================] - 0s 1ms/step - loss: 4.2849 - accuracy: 0.6827
Epoch 14/100
24/24 [==============================] - 0s 2ms/step - loss: 11.8373 - accuracy: 0.6427
Epoch 15/100
24/24 [==============================] - 0s 1ms/step - loss: 11.1642 - accuracy: 0.6840
Epoch 16/100
24/24 [==============================] - 0s 2ms/step - loss: 4.1606 - accuracy: 0.6880
Epoch 17/100
24/24 [==============================] - 0s 2ms/step - loss: 9.2194 - accuracy: 0.6733
Epoch 18/100
24/24 [==============================] - 0s 2ms/step - loss: 6.9607 - accuracy: 0.6893
Epoch 19/100
24/24 [==============================] - 0s 2ms/step - loss: 7.3511 - accuracy: 0.7080
Epoch 20/100
24/24 [==============================] - 0s 2ms/step - loss: 6.9592 - accuracy: 0.6467
Epoch 21/100
24/24 [==============================] - 0s 2ms/step - loss: 7.2022 - accuracy: 0.6707
Epoch 22/100
24/24 [==============================] - 0s 2ms/step - loss: 12.8302 - accuracy: 0.6467
Epoch 23/100
24/24 [==============================] - 0s 2ms/step - loss: 5.1359 - accuracy: 0.6760
Epoch 24/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5462 - accuracy: 0.6707
Epoch 25/100
24/24 [==============================] - 0s 1ms/step - loss: 4.0487 - accuracy: 0.6533
Epoch 26/100
24/24 [==============================] - 0s 2ms/step - loss: 8.1045 - accuracy: 0.6693
Epoch 27/100
24/24 [==============================] - 0s 2ms/step - loss: 6.1780 - accuracy: 0.6573
Epoch 28/100
24/24 [==============================] - 0s 2ms/step - loss: 4.3445 - accuracy: 0.6880
Epoch 29/100
24/24 [==============================] - 0s 2ms/step - loss: 4.5825 - accuracy: 0.6867
Epoch 30/100
24/24 [==============================] - 0s 2ms/step - loss: 4.3081 - accuracy: 0.6960
Epoch 31/100
24/24 [==============================] - 0s 2ms/step - loss: 8.4516 - accuracy: 0.6773
Epoch 32/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8307 - accuracy: 0.6987
Epoch 33/100
24/24 [==============================] - 0s 1ms/step - loss: 9.9826 - accuracy: 0.6640
Epoch 34/100
24/24 [==============================] - 0s 2ms/step - loss: 5.2926 - accuracy: 0.7120
Epoch 35/100
24/24 [==============================] - 0s 2ms/step - loss: 6.1122 - accuracy: 0.7027
Epoch 36/100
24/24 [==============================] - 0s 2ms/step - loss: 2.6747 - accuracy: 0.7213
Epoch 37/100
24/24 [==============================] - 0s 2ms/step - loss: 4.3901 - accuracy: 0.6907
Epoch 38/100
24/24 [==============================] - 0s 2ms/step - loss: 3.1073 - accuracy: 0.7240
Epoch 39/100
24/24 [==============================] - 0s 2ms/step - loss: 2.2810 - accuracy: 0.6907
Epoch 40/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8808 - accuracy: 0.7253
Epoch 41/100
24/24 [==============================] - 0s 2ms/step - loss: 6.6282 - accuracy: 0.6827
Epoch 42/100
24/24 [==============================] - 0s 2ms/step - loss: 8.6633 - accuracy: 0.7093
Epoch 43/100
24/24 [==============================] - 0s 2ms/step - loss: 5.6433 - accuracy: 0.7253
Epoch 44/100
24/24 [==============================] - 0s 2ms/step - loss: 2.4184 - accuracy: 0.7267
Epoch 45/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0656 - accuracy: 0.7587
Epoch 46/100
24/24 [==============================] - 0s 2ms/step - loss: 6.4903 - accuracy: 0.7080
Epoch 47/100
24/24 [==============================] - 0s 1ms/step - loss: 3.3789 - accuracy: 0.7213
Epoch 48/100
24/24 [==============================] - 0s 2ms/step - loss: 3.7577 - accuracy: 0.7027
Epoch 49/100
24/24 [==============================] - 0s 2ms/step - loss: 3.8150 - accuracy: 0.7093
Epoch 50/100
24/24 [==============================] - 0s 2ms/step - loss: 3.2217 - accuracy: 0.7107
Epoch 51/100
24/24 [==============================] - 0s 2ms/step - loss: 6.6589 - accuracy: 0.7280
Epoch 52/100
24/24 [==============================] - 0s 1ms/step - loss: 3.3277 - accuracy: 0.7253
Epoch 53/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3622 - accuracy: 0.7173
Epoch 54/100
24/24 [==============================] - 0s 2ms/step - loss: 2.5386 - accuracy: 0.7240
Epoch 55/100
24/24 [==============================] - 0s 1ms/step - loss: 1.9880 - accuracy: 0.7573
Epoch 56/100
24/24 [==============================] - 0s 2ms/step - loss: 2.9964 - accuracy: 0.7813
Epoch 57/100
24/24 [==============================] - 0s 2ms/step - loss: 2.1660 - accuracy: 0.7453
Epoch 58/100
24/24 [==============================] - 0s 2ms/step - loss: 2.4328 - accuracy: 0.7520
Epoch 59/100
24/24 [==============================] - 0s 2ms/step - loss: 1.6091 - accuracy: 0.7573
Epoch 60/100
24/24 [==============================] - 0s 2ms/step - loss: 1.9892 - accuracy: 0.7400
Epoch 61/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4037 - accuracy: 0.7413
Epoch 62/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7797 - accuracy: 0.7733
Epoch 63/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7152 - accuracy: 0.7640
Epoch 64/100
24/24 [==============================] - 0s 2ms/step - loss: 1.3177 - accuracy: 0.7347
Epoch 65/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2207 - accuracy: 0.7520
Epoch 66/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4064 - accuracy: 0.7560
Epoch 67/100
24/24 [==============================] - 0s 2ms/step - loss: 2.3200 - accuracy: 0.7347
Epoch 68/100
24/24 [==============================] - 0s 2ms/step - loss: 1.6115 - accuracy: 0.7653
Epoch 69/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0678 - accuracy: 0.7587
Epoch 70/100
24/24 [==============================] - 0s 2ms/step - loss: 3.3227 - accuracy: 0.7560
Epoch 71/100
24/24 [==============================] - 0s 2ms/step - loss: 2.1456 - accuracy: 0.7587
Epoch 72/100
24/24 [==============================] - 0s 2ms/step - loss: 1.0993 - accuracy: 0.7520
Epoch 73/100
24/24 [==============================] - 0s 2ms/step - loss: 2.5114 - accuracy: 0.7573
Epoch 74/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2917 - accuracy: 0.7627
Epoch 75/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4031 - accuracy: 0.7467
Epoch 76/100
24/24 [==============================] - 0s 2ms/step - loss: 1.6347 - accuracy: 0.7293
Epoch 77/100
24/24 [==============================] - 0s 2ms/step - loss: 3.0755 - accuracy: 0.7653
Epoch 78/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9513 - accuracy: 0.7627
Epoch 79/100
24/24 [==============================] - 0s 2ms/step - loss: 0.9670 - accuracy: 0.7627
Epoch 80/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8546 - accuracy: 0.7773
Epoch 81/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8170 - accuracy: 0.7720
Epoch 82/100

24/24 [==============================] - 0s 2ms/step - loss: 0.8768 - accuracy: 0.7467
Epoch 83/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2646 - accuracy: 0.7560
Epoch 84/100
24/24 [==============================] - 0s 2ms/step - loss: 1.9320 - accuracy: 0.7613
Epoch 85/100
24/24 [==============================] - 0s 2ms/step - loss: 2.0033 - accuracy: 0.7693
Epoch 86/100
24/24 [==============================] - 0s 2ms/step - loss: 1.1014 - accuracy: 0.7693
Epoch 87/100
24/24 [==============================] - 0s 2ms/step - loss: 0.8287 - accuracy: 0.7507
Epoch 88/100
24/24 [==============================] - 0s 2ms/step - loss: 1.3426 - accuracy: 0.7533
Epoch 89/100
24/24 [==============================] - 0s 2ms/step - loss: 3.4223 - accuracy: 0.7627
Epoch 90/100
24/24 [==============================] - 0s 2ms/step - loss: 1.4012 - accuracy: 0.7640
Epoch 91/100
24/24 [==============================] - 0s 2ms/step - loss: 1.9047 - accuracy: 0.7547
Epoch 92/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7249 - accuracy: 0.7893
Epoch 93/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5354 - accuracy: 0.7507
Epoch 94/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4948 - accuracy: 0.7867
Epoch 95/100
24/24 [==============================] - 0s 2ms/step - loss: 1.2312 - accuracy: 0.7587
Epoch 96/100
24/24 [==============================] - 0s 2ms/step - loss: 0.5174 - accuracy: 0.7587
Epoch 97/100
24/24 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.7920
Epoch 98/100
24/24 [==============================] - 0s 2ms/step - loss: 0.4935 - accuracy: 0.7600
Epoch 99/100
24/24 [==============================] - 0s 2ms/step - loss: 0.6857 - accuracy: 0.7573
Epoch 100/100
24/24 [==============================] - 0s 2ms/step - loss: 0.7316 - accuracy: 0.7547

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 4.0866 - accuracy: 0.4400 - 169ms/epoch - 21ms/step
Loss: 4.086645603179932, Accuracy: 0.4399999976158142

In [16]:
# export
nn.save("AlphabetSoupCharityOptimization1.h5")